.autocadastro-background {
    background-image: url('/assets/vvimagens/Image_login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Substitui bg-black bg-opacity-50 */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
    position: fixed;
    inset: 0;
    z-index: 50;
  }