<header class="header">
  <div class="header-left">
    <img src="../../assets/vvimagens/vvsbg.png" alt="Logo" class="logo" />
    <p> Ville des Verbes</p>
  </div>
  <nav class="nav-links flex space-x-6 items-center">
    <!-- Home link with icon -->
    <a [routerLink]="getHomeLink()" class="flex items-center text-gray-700 hover:text-blue-500">
      <i class="fas fa-home mr-2"></i> Home
    </a>

    <!-- Ranking link with icon -->
    <a [routerLink]="getRankingLink()" class="flex items-center text-gray-700 hover:text-blue-500">
      <i class="fas fa-trophy mr-2"></i> Ranking
    </a>

    <!-- Médails link with icon -->
    <a [routerLink]="getTropheeLink()" class="flex items-center text-gray-700 hover:text-blue-500">
      <i class="fas fa-medal mr-2"></i> Médails
    </a>

    <!-- Configuration link with icon -->
    <a [routerLink]="getConfigurationLink()" class="flex items-center text-gray-700 hover:text-blue-500">
      <i class="fas fa-cogs mr-2"></i> Configuration
    </a>

    <!-- Log out link with icon -->
    <a (click)="logout()" class="flex items-center text-gray-700 hover:text-blue-500">
      <i class="fas fa-sign-out-alt mr-2"></i> Log out
    </a>
  </nav>
</header>
