 /* Fundo da tela */
 .background {
  background: url('../../../assets/vvimagens/ambUniversite.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

 

/* Posicionamento individual */
.casa1  { top: 100px; left: 100px; }
.casa2  { top: 250px; left: 150px; }
.casa3  { top: 400px; left: 100px; }
.casa4  { top: 550px; left: 200px; }
.casa5  { top: 100px; left: 300px; }
.casa6  { top: 250px; left: 350px; }
.casa7  { top: 400px; left: 300px; }
.casa8  { top: 550px; left: 400px; }
.casa9  { top: 100px; left: 500px; }
.casa10 { top: 250px; left: 550px; }
.casa11 { top: 400px; left: 500px; }
