<app-header> </app-header>

<ng-template #content let-modal>
  <!-- Modal content -->
</ng-template>

<div class="login-background">
  

  <div class="flex items-center justify-center flex-grow ">
    <div class="login-container">
      <h2 class="text-2xl font-bold mb-4 text-center">Login</h2>
      <form (ngSubmit)="realizarLogin()">
        <div class="mb-4">
          <label for="email" class="block mb-2">E-mail</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            required
            class="border p-2 rounded w-full"
          />
        </div>
        <div class="mb-4">
          <label for="senha" class="block mb-2">Senha</label>
          <input
            type="password"
            id="senha"
            [(ngModel)]="senha"
            name="senha"
            required
            class="border p-2 rounded w-full"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 text-white rounded px-4 py-2 hover:bg-blue-600 w-full"
        >
          Entrar
        </button>
        <p class="mt-4 text-center">
          Não tem uma conta? <a routerLink="/autocadastro" class="text-blue-500 hover:underline">Cadastre-se</a>
        </p>
      </form>
    </div>
  </div>
</div>
