<app-header></app-header>

<div class="p-4 ml-72">
  <div class="bg-white shadow-lg rounded-lg p-4 max-w-xl mx-auto mt-2">
  <h2 class="text-2xl font-semibold text-gray-800 text-center">Classement du Joueur</h2>
 <ng-template #erroOuCarregando>
  <div>
    <div class="bg-white/50 backdrop-blur-sm shadow-md  p-4 max-w-md w-full text-center">
      <p class="text-red-500 font-semibold" *ngIf="erro">{{ erro }}</p>
      <p class="text-gray-800" *ngIf="!erro">Chargement du classement...</p>
    </div>
  </div>
</ng-template>
</div>

  
    <div *ngIf="jogador; else erroOuCarregando">
      <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg">
        <thead class="bg-gray-100 text-gray-700">
          <tr>
            <th class="px-4 py-2 text-left border-b">Nom Joueur</th>
            <th class="px-4 py-2 text-left border-b">Position</th>
            <th class="px-4 py-2 text-left border-b">Sceaux Milieu </th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-gray-50 transition">
            <td class="px-4 py-2 border-b">{{ jogador.nome }}</td>
            <td class="px-4 py-2 border-b">{{ jogador.posicao }}</td>
            <td class="px-4 py-2 border-b">{{ jogador.seloAmbiente }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
   
  </div>
  