/* Estilo do Modal Overlay: Cobertura de toda a tela */

.modal-overlay {
  position: fixed; /* Fixa o overlay na tela */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa 100% da largura da tela */
  height: 100%; /* Ocupa 100% da altura da tela */
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escurecido, com mais opacidade */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  z-index: 9999; /* Garante que o modal fique acima de outros elementos */
}

/* Estilo do conteúdo do Modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px; /* ou outro valor que combine com seu design */
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


/* Estilos para os botões dentro do modal */
.modal-content button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
