<div class="background">
    <!-- Linha superior com usuário e título -->
    <div class="top-bar">
      <div class="user-profile">
        <img class="user-icon" src="assets/vvimagens/usuario2.png" alt="Usuário" />
        <span class="user-name">Usuário</span>
      </div>
      <h2 class="titulos">Bienvenue dans votre Environnement Maison.</h2>
   
    <div class="direction-line">
        <div class="circle" (click)="navigate('ambientecasa')">
          <img src="assets/vvimagens/casavv.jpg" alt="Casa" />
          <span>Maison</span>
        </div>
        </div>
    </div>
  
    <!-- Logo no canto inferior direito -->
    <div class="logo-container">
      <img class="logo" src="assets/vvimagens/vvsbg.png" alt="Logo VV" />
      <span class="logo-text">Ville des Verbes</span>
    </div>
  </div>
  