<div class="background">
    <!-- Ícone e nome do usuário -->
    <div class="user-profile">
      <img class="user-icon" src="assets/vvimagens/usuario2.png" alt="Usuário" />
      <span class="user-name"> Utilisateur</span>
    </div>
  
    <div class="direction-line">
      <div class="circle" (click)="navigate('ambientecasa')">
        <img src="assets/vvimagens/casavv.jpg" alt="Casa" />
        <span>Maison</span>
      </div>
  
      <div class="line"></div>
  
      <div class="circle" (click)="navigate('ambienteparque')">
        <img src="assets/vvimagens/parque.jpg" alt="Parque" />
        <span>PLace</span>
      </div>
  
      <div class="line"></div>
  
      <div class="circle" (click)="navigate('ambienteuniversidade')">
        <img src="assets/vvimagens/universidade.jpg" alt="Universidade" />
        <span>Université</span>
      </div>
    </div>
  
    <!-- Logo e texto do jogo -->
<div class="logo-container">
    <img class="logo" src="assets/vvimagens/vvsbg.png" alt="Logo VV" />
    <span class="logo-text">Ville des Verbes</span>
  </div>
  </div>
  